* {
   font-family: "Sulphur Point", sans-serif;
}
.jumbotron {
   background-color: inherit;
   box-shadow: inherit;
}
.custom-select {
   width: 200px;
}
a:link,
a:visited,
a:hover,
a:active {
   text-decoration: none;
}
